<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>UCSC | Centres</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="../layout/styles/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper row1">
  <div id="topnav">
    <ul>
      <li><a href="../../index.html"><strong>Home</strong></a></li>
      <li><a href="about_us.php"><strong>About Us</strong></a></li>
      <li><a href="full-width.html"><strong>Academic Programmes</strong></a></li>
      <li><a href="3-columns.html"><strong>People</strong></a></li>
      <li class="active"><a href="gallery.html"><strong>Gallery</strong></a></li>
      <li><a href="#"><strong>Services</strong></a></li>
      <li><a href="#"><strong>News/Notices</strong></a></li>
      <li class="last"><a href="#"><strong>Contact Us</strong></a></li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div id="header" class="clear">
  <div class="img">
      <h1><a href="index.html"><img src="../images/demo/logo-ucsc-1.png"/></a></h1>
      <p></p>
    </div>
        <div class="fl_right">
      <form action="#" method="post" id="sitesearch">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" />
          <input type="image" src="../images/demo/search.gif" id="search" alt="Search" />
        </fieldset>
      </form>
      <p><a href="#">Site Map</a> | <a href="#">Login</a></p>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div id="quicknav" class="clear">
    <ul>
      <li><a href="#">Current Students</a>
        <ul>
          <li><a href="#">&raquo; Career Guidance Unit</a></li>
          <li><a href="#">&raquo; Student Accommodation</a></li>
          <li><a href="#">&raquo; Student Directory</a></li>
          <li><a href="#">&raquo; Student Facilities</a></li>
          <li class="last"><a href="#">&raquo; Students Union</a></li>
        </ul>
      </li>
      <li><a href="#">Prospective Students</a>
        <ul>
          <li><a href="#">&raquo; University Life</a></li>
          <li><a href="#">&raquo; Academic Courses</a></li>
          <li><a href="#">&raquo; How To Apply</a></li>
          <li><a href="#">&raquo; Cost And Fees</a></li>
          <li><a href="#">&raquo; Visit the University</a></li>
        </ul>
      </li>
      <li><a href="#">International Students</a>
        <ul>
          <li><a href="#">&raquo; Why our University </a></li>
          <li><a href="#">&raquo; How to Apply</a></li>
          <li class="last"><a href="#">&raquo; Cost &amp; Finances</a></li>
        </ul>
      </li>
      <li class="last"><a href="#">Academic Departments</a>
        <ul>
          <li><a href="#">&raquo; Department of communication and media technologies(CMT)</a></li>
          <li><a href="#">&raquo; Department of Information Systems Engineering(ISE)</a></li>
<li class="last"><a href="#">&raquo; Department of communication and intelligent systems (CIS)</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row5">
  <div id="container" class="clear"> 
    <!-- ####################################################################################################### -->
    <div id="portfolio">
      <ul>
        <li class="clear">
          <div class="fl_left"><a href="#"><img src="../images/demo/pdc.png" alt=""/></a></div>
          <div class="fl_right">
            <h2>Professional Development Centre(PDC)</h2>
            <p>The Professional Development Centre (PDC) of the University of Colombo School of Computing (UCSC) was set up for keeping a close liaison with IT industry and for improvement of the academic programmes through industry partnerships. The PDC primarily concentrates on improving professional skills of the staff and the internal students, industry placements and visits for internal undergraduates and promoting inter-cultural harmony. The mission of the Professional Development Centre(PDC) of the UCSC is to produce Computing graduates’ having extra-curricular skills such as professional skills, business skills, communication skills, community service skills, innovative capacity and entrepreneurship to persue successful careers thereby contributing to the socio-economic development of Sri Lanka. For more details visit the website:<a href="http://www.ucsc.cmb.ac.lk/pdc" title="pdc">PDC</a></p>
            
            <p class="readmore"><a href="#">View This Centre &raquo;</a></p>
          </div>
        </li>
        <li class="clear">
          <div class="fl_left"><a href="#"><img src="../images/demo/admtc.png" alt="" /></a></div>
          <div class="fl_right">
            <h2>Advanced Digital Multimedia Technology Centre (ADMTC)</h2>
            <p>Advanced Digital Media Technologies Centre(ADMTC) was established under the UCSC in order to implement the “Project for Human Resource Development in Information Technology through capacity building of the UCSC ” that was supported by JICA. The centre is equipped with a state of the art digital studio and multimedia laboratories. Centre also conducts several training programmes in Multimedia, e-Learning and Digital Media Production. ADMTC produces many UCSC videos including BIT TV programmes. For more details visit the website:<a href="http://www.admtc.lk" title="admtc5">ADMTC</a></p>
            
            <p class="readmore"><a href="#">View This Centre &raquo;</a></p>
          </div>
        </li>
        <li class="clear">
          <div class="fl_left"><a href="#"><img src="../images/demo/elc.png" alt="" /></a></div>
          <div class="fl_right">
            <h2>eLearning Centre</h2>
            <p>The eLearning Centre was established in 2002 at the University of Colombo School of Computing to provide e-learning services to both internal and external students of the UCSC. The Bachelor of Information Technology (BIT) was supported by e-learning centre from 2003 using learning management facilities. The e-Learning Centre will serve as a central hub that encourages e-Learning and supports other universities, academic institutes, research organizations and e-Learning users of the country.</p>
            
            <p class="readmore"><a href="#">View This Centre &raquo;</a></p>
          </div>
        </li>
      </ul>
    </div>
    <!-- ####################################################################################################### -->
    <div class="pagination">
      <ul>
        <li class="prev"><a href="#">&laquo; Previous</a></li>
        <li><a href="#">Overview</a></li>
        <li class="next"><a href="#">Next &raquo;</a></li>
      </ul>
    </div>
    <!-- ####################################################################################################### --> 
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="academiclinks" class="clear">
    <div class="linkbox">
      <h2>Academic</h2>
      <ul>
        
        <li><a href="#">&raquo; Academic Calendars</a></li>
        <li><a href="#">&raquo; Academics Office</a></li>
        <li><a href="#">&raquo; Alumni Chapters</a></li>
        <li><a href="#">&raquo; Alumni Events</a></li>
        <li><a href="#">&raquo; Campus Life At a Glance</a></li>
        </ul>
    </div>
    <div class="linkbox">
      <h2>Administration</h2>
      <ul>
        
        <li><a href="#">&raquo; Counsellers</a></li>
        <li><a href="#">&raquo; Course Descriptions and Catalogue</a></li>
        <li><a href="#">&raquo; Departments</a></li>
        <li><a href="#">&raquo; Financial Aid</a></li>
        <li><a href="#">&raquo; Fitness and Recreation Facilities</a></li>
        </ul>
    </div>
    <div class="linkbox">
      <h2>Programs</h2>
      <ul>
        
        <li><a href="#">&raquo; Honours Program</a></li>
        <li><a href="#">&raquo; International Students</a></li>
        <li><a href="#">&raquo; Maps and Directions</a></li>
      </ul>
    </div>
    <div class="linkbox last">
      <h2>Services</h2>
      <ul>
        <li><a href="#">&raquo; Office of the Registrar</a></li>
        <li><a href="#">&raquo; Online Learning</a></li>
        <li><a href="#">&raquo; Residence Life</a></li>
        <li><a href="#">&raquo; Student Activities</a></li>
        <li><a href="#">&raquo; Student Life</a></li>
      </ul>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer" class="clear"> 
    <!-- ####################################################################################################### -->
    <div class="fl_left clear">
      <div class="fl_left center"><img src="../images/demo/google.png" alt="" /><br />
        <a href="#">Find Us With Google Maps &raquo;</a></div>
      <address>
      University of Colombo School of Computing<br />
      UCSC Building Complex<br />
      35,Reid Avenue,Colombo 07<br />
      SRI LANKA<br />
      <br />
      Tel: +94 -11- 2581245/ 7<br />
      Email: <a href="#">info@ucsc.cmb.ac.lk</a>
      </address>
    </div>
    <div class="fl_right">
      <div id="social" class="clear">
        <p>Stay Up to Date With Whats Happening</p>
        <ul>
          <li><a style="background-position:0 0;" href="#">Twitter</a></li>
          <li><a style="background-position:-72px 0;" href="#">LinkedIn</a></li>
          <li><a style="background-position:-142px 0;" href="#">Facebook</a></li>
          <li><a style="background-position:-212px 0;" href="#">Flickr</a></li>
          <li><a style="background-position:-282px 0;" href="#">RSS</a></li>
        </ul>
      </div>
      <div id="newsletter">
        <form action="#" method="post">
          <fieldset>
            <legend>Subscribe To Our Newsletter:</legend>
            <input type="text" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
            <input type="text" id="subscribe" value="Submit" />
          </fieldset>
        </form>
      </div>
    </div>
    <div id="copyright" class="clear">
      <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">University of Colombo School Of Computing</a></p>
      
    </div>
    <!-- ####################################################################################################### --> 
  </div>
</div>
</body>
</html>