<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>UCSC | Gallery</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="../layout/styles/layout.css" type="text/css" />
<script type="text/javascript" src="../layout/scripts/jquery.min.js"></script>


<script type="text/javascript">
$(document).ready(function() {
    $("a[rel^='prettyPhoto']").prettyPhoto({
        theme: 'dark_rounded',
        overlay_gallery: false,
        social_tools: false
    });
});
</script>

</head>
<body id="top">
<div class="wrapper row1">
  <div id="topnav">
    <ul>
      <li><a href="../../index.html"><strong>Home</strong></a></li>
      <li><a href="style-demo.html"><strong>About Us</strong></a></li>
      <li><a href="full-width.html"><strong>Academic Programmes</strong></a></li>
      <li><a href="3-columns.html"><strong>People</strong></a></li>
      <li class="active"><a href="gallery.html"><strong>Gallery</strong></a></li>
      <li><a href="infrastructure_and_services.html"><strong>Services</strong></a></li>
      <li><a href="#"><strong>News/Notices</strong></a></li>
      <li class="last"><a href="#"><strong>Contact Us</strong></a></li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row2">
  <div id="header" class="clear">
  <div class="img">
      <h1><a href="index.html"><img src="../images/demo/logo-ucsc-1.png"/></a></h1>
      <p></p>
    </div>
    <div class="fl_left">
      <h1><a href="../index.html"></a></h1>
      <p></p>
    </div>
    <div class="fl_right">
      <form action="#" method="post" id="sitesearch">
        <fieldset>
          <legend>Site Search</legend>
          <input type="text" />
          <input type="image" src="../images/demo/search.gif" id="search" alt="Search" />
        </fieldset>
      </form>
      <p><a href="#">Site Map</a> | <a href="#">Login</a></p>
    </div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row4">
  <div id="quicknav" class="clear">
  
    <ul>
      <li><a href="#">Current Students</a>
        <ul>
          
          <li><a href="#">&raquo; Career Guidance Unit</a></li>
          <li><a href="#">&raquo; Student Accommodation</a></li>
          <li><a href="#">&raquo; Student Directory</a></li>
          <li><a href="#">&raquo; Student Facilities</a></li>
          <li class="last"><a href="#">&raquo; Students Union</a></li>
        </ul>
      </li>
      <li><a href="#">Prospective Students</a>
        <ul>
          <li><a href="#">&raquo; University Life</a></li>
          <li><a href="#">&raquo; Academic Courses</a></li>
          <li><a href="#">&raquo; How To Apply</a></li>
          <li><a href="#">&raquo; Cost And Fees</a></li>
          <li><a href="#">&raquo; Vvisit the University</a></li>
          </ul>
      </li>
      <li><a href="#">International Students</a>
        <ul>
          <li><a href="#">&raquo; Why our University </a></li>
          <li><a href="#">&raquo; How to Apply</a></li>
          <li class="last"><a href="#">&raquo; Cost &amp; Finances</a></li>
        </ul>
      </li>
      <li class="last"><a href="#">Academic Departments</a>
        <ul>
          <li><a href="#">&raquo; Department of communication and media technologies(CMT)</a></li>
          <li><a href="#">&raquo; Department of Information Systems Engineering(ISE)</a></li>
<li class="last"><a href="#">&raquo; Department of communication and intelligent systems (CIS)</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row5">
  <div id="container" class="clear"> 
    <!-- ####################################################################################################### -->
    <div id="gallery"> 
      <!-- ########### -->
      <div class="gallerycontainer clear">
        <div class="fl_right">
          <ul>
            <li><a href="../images/demo/selected photos/web.JPG" title="Image 1"><img src="../images/demo/selected photos/web.JPG" alt="Title Here" width="150" height="150" /></a></li>
            <li><a href="../images/demo/selected photos/lab.JPG" title="Image 2"><img src="../images/demo/selected photos/lab.JPG" alt="Title Here" width="150" height="150"/></a></li>
            <li><a href="../images/demo/selected photos/lab1.JPG"  title="Image 3"><img src="../images/demo/selected photos/lab1.JPG" alt="Title Here" width="150" height="150" /></a></li>
            <li class="last"><a href="../images/demo/selected photos/instructor.JPG"  title="Image 4"><img src="../images/demo/selected photos/instructor.JPG" alt="Title Here" width="150" height="150" /></a></li>
            <li><a href="../images/demo/selected photos/instructor1.JPG"  title="Image 5"><img src="../images/demo/selected photos/instructor1.JPG" alt="Title Here" width="150" height="150" /></a></li>
            <li><a href="../images/demo/ieee.png"  title="Image 6"><img src="../images/demo/ieee.png" alt="Title Here" /></a></li>
            <li><a href="../images/demo/awurudu.png"  title="Image 7"><img src="../images/demo/awurudu.png" alt="Title Here" /></a></li>
            <li class="last"><a href="../images/demo/pahasara.png"  title="Image 8"><img src="../images/demo/pahasara.png" alt="Title Here" /></a></li>
          </ul>
        </div>
      </div>
      <!-- ########### --> 
    </div>
    <!-- ####################################################################################################### -->
    <div class="pagination">
      <ul>
        <li class="prev"><a href="#">&laquo; Previous</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li class="current">7</li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#">10</a></li>
        <li><a href="#">11</a></li>
        <li><a href="#">12</a></li>
        <li><a href="#">13</a></li>
        <li><a href="#">14</a></li>
        <li><a href="#">15</a></li>
        <li class="next"><a href="#">Next &raquo;</a></li>
      </ul>
    </div>
    <!-- ####################################################################################################### --> 
  </div>
</div>
<!-- ####################################################################################################### -->

<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="footer" class="clear"> 
    <!-- ####################################################################################################### -->
    <div class="fl_left clear">
      <div class="fl_left center"><img src="../images/demo/google.png" alt="" /><br />
        <a href="#">Find Us With Google Maps &raquo;</a></div>
      <address>
      University of Colombo School of Computing<br />
      UCSC Building Complex<br />
      35,Reid Avenue,Colombo 07<br />
      SRI LANKA<br />
      <br />
      Tel: +94 -11- 2581245/ 7<br />
      Email: <a href="#">info@ucsc.cmb.ac.lk</a>
      </address>
    </div>
    <div class="fl_right">
      <div id="social" class="clear">
        <p>Stay Up to Date With Whats Happening</p>
        <ul>
          <li><a style="background-position:0 0;" href="#">Twitter</a></li>
          <li><a style="background-position:-72px 0;" href="#">LinkedIn</a></li>
          <li><a style="background-position:-142px 0;" href="#">Facebook</a></li>
          <li><a style="background-position:-212px 0;" href="#">Flickr</a></li>
          <li><a style="background-position:-282px 0;" href="#">RSS</a></li>
        </ul>
      </div>
      <div id="newsletter">
        <form action="#" method="post">
          <fieldset>
            <legend>Subscribe To Our Newsletter:</legend>
            <input type="text" value="Enter Email Here&hellip;" onfocus="this.value=(this.value=='Enter Email Here&hellip;')? '' : this.value ;" />
            <input type="text" id="subscribe" value="Submit" />
          </fieldset>
        </form>
      </div>
    </div>
    <div id="copyright" class="clear">
      <p class="fl_left">Copyright &copy; 2016 - All Rights Reserved - <a href="#">University of Colombo School Of Computing</a></p>
      <p class="fl_right"><a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates"></a></p>
    </div>
    <!-- ####################################################################################################### --> 
  </div>
</div>
</body>
</html>