<html>
    <head>
        <script src="../layout/scripts/jquery-3.1.0.min.js"></script>
        <script src="../layout/scripts/jqwidgets/jqxcore.js"></script>
        <script type="text/javascript" src="../layout/scripts/jqwidgets/jqxdatetimeinput.js"></script>
<script type="text/javascript" src="../layout/scripts/jqwidgets/jqxcalendar.js"></script>
<script type="text/javascript" src="../layout/scripts/jqwidgets/globalization/globalize.js"></script>
        
        <link rel="stylesheet" href="../layout/scripts/jqwidgets/styles/jqx.base.css">
        <link rel="stylesheet" href="../layout/scripts/jqwidgets/styles/jqx.darkblue.css">
        <link rel="stylesheet" href="../layout/styles/style_calendar.css">
    </head>
    <body>
    <script type="text/javascript">
    $(document).ready(function () {
        $("#jqxcalendar").jqxCalendar({ width: '800px', height: '400px' });
    });
    </script>
	
    <div id='jqxcalendar'></div>
    </body>
</html>